{% extends 'index.html' %}
{% block content %}
    <h1>New Car</h1>
    <div  style="width: 300px">
    <p>user_id = {{ user.id }}</p>
    <form action={% url 'new_car' user.id  %} method="post">
                <div class="form-group">
                    <label for="input-first-vin">VIN</label>
                    {{ form.vin }}
                </div>
                <div class="form-group">
                    <label for="input-last-model">Model</label>
                    {{ form.model }}
                </div>
                <div class="form-group">
                    <label for="input-last-make">Make</label>
                    {{ form.make }}
                </div>
                <div class="form-group">
                    <label for="input-last-year">Year</label>
                    {{ form.year }}
                </div>

                <button type="submit" class="btn btn-secondary">Continue</button>
                {% csrf_token %}
 </form>
 </div>
{% endblock %}